<main>
    <div class="search">
        <h4>Update time</h4>
        <ul>
            <li><input type="radio" name="3years">Within 3 years</li>
            <li><input type="radio" name="1year">Within 1 year</li>
            <li><input type="radio" name="halfyear">within half a year</li>
            <li><input type="radio" name="3months">within 3 months</li>
            <li><input type="radio" name="1month">within 1 month</li>
            <li><input type="radio" name="1week">Within 1 week</li>
        </ul>

        <h4>Category1</h4>
            <option value="<%= @genres.id %>"><%= @genres.name %></option>
        <h4>Category2</h4>
            <option value="<%= @categories.id %>"><%= @categories.name %></option>
        <h4>Category3</h4>
            <option value="<%= @sub_categories.id %>"><%= @sub_categories.name %></option>

        <h4>Sort</h4>
            <ul>
                <li><input type="radio" name="sort">New order</li>
                <li><input type="radio" name="sort">Update order</li>
                <li><input type="radio" name="sort">Evaluation order</li>
                <li><input type="radio" name="sort">Viewed order</li>
                <li><input type="radio" name="sort">Comments order</li>
            <ul>

        <h4>Free word</h4>
            <input type="text" name="free">

        <input type="submit" value="Search">
    </div>
</main>