<main>
  <div class="postcontain">
    <%= form_for @post, url: post_create_path do |f| %>
      <div class="post">Enter title</div>
      <%= f.text_field :title, class: 'form-title'%>

      <div class="post">Enter detail</div>
      <%= f.text_field :detail, class: 'form-detail' %>

      <div class="post">Select category</div>
      <select name="post[sub_category_id]">
        <% @sub_categories.each do |s| %>
          <option class="option" value="<%= s.id %>"><%= s.name %></option>
        <% end %>
      </select>
      <%= f.submit "Next", class: "btn btn-primary" %>
    <% end %>
  </div>
</main>