<!DOCTYPE html>
<html>
  <head>
    <title>workbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <div class="main-grid">
      <header>
        <div class="logo"><%= link_to "woacis", root_path %></div>
        <div class="serch">
          <input type="text" class="form-control" placeholder="f002; Search">
          <input type="submit" value="search">
        </div>
        <div class="header-list">
          <% if logged_in? %>
            <button class="header-button"><i class="far fa-edit"></i><%= link_to "Upload",   post_new_path, :style=>"color:white;" %></button>
            <button class="header-button"><i class="fas fa-user"></i><%= link_to "My page",  show_path, :style=>"color:white;" %></button>
          <% else %>
            <button class="header-button"><%= link_to "Search",   '#', :style=>"color:white;" %></button>
            <button id="myBtn" class="header-button"><i class="fas fa-sign-in-alt"></i>Sign in</button>
              <!-- The Modal -->
              <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h1>Sign in</h1>
                  <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                      <%= form_for(:session, url: login_path) do |f| %>
                        <%= f.label :email %>
                        <%= f.email_field :email, class: 'form-control', placeholder: "Email" %>

                        <%= f.label :password %>
                        <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>

                        <%= f.submit "Sign in", class: "btn btn-primary" %>
                      <% end %>
                  
                      <p>If you forgot your password, <%= link_to "click here", "#" %></p>

                      <p>New user? <%= link_to "Sign up now", signup_path %></p>
                  
                      <p>ここに[-or-]facebook、twitter、googleでのアカウントログインを作成する。</p>
                    </div>
                  </div>
                </div>
              </div>
              <script>
                // Get the modal
                var modal = document.getElementById("myModal");
                // Get the button that opens the modal
                var btn = document.getElementById("myBtn");
                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];
                // When the user clicks on the button, open the modal
                btn.onclick = function() {
                  modal.style.display = "block";
                }
                // When the user clicks on <span> (x), close the modal
                span.onclick = function() {
                  modal.style.display = "none";
                }
                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                  if (event.target == modal) {
                    modal.style.display = "none";
                  }
                }
              </script>
            <button class="header-button"><i class="fas fa-user-plus"></i><%= link_to "Sign up",  '/signup', :style=>"color:white;" %></button>
          <% end %>
        </div>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
